@import "../common.scss";

.my-knowledge {
  .container {
    padding: 0px 25px 30px;
    @include s_fontDemo(24px, 80px, $font-4a);
    li {
      background:#ffffff;
      box-shadow:0 2px 9px 0 rgba(0,0,0,0.06);
      border-radius:10px;
      margin-bottom: 35px;
    }
    .status {
      overflow: hidden;
      li {
        width: 32%;
        float: left;
        &:nth-of-type(2) {
          margin-left: 2%;
          margin-right: 2%;
        }
        .am-icon {
          margin: 20px;
          float: left;
        }
      }
    }
    .knowledge-list {
      .top {
        .am-icon {
          float: left;
          margin: 20px 20px 0px 30px;
        }
        span {
          &:nth-of-type(1) {

          }
          &:nth-of-type(2) {
            @include s_blockDemo(108px, 46px);
            text-align: center;
            @include s_fontDemo(24px, 46px, #fff);
            float: right;
            margin-right: 30px;
            border-radius: 23px;
            margin-top: 17px;
          }
        }
      }
      .bottom {
        padding-left: 50px;
        padding-right: 30px;
        padding-top: 35px;
        overflow: hidden;
        .bottom-item {
          display: flex;
          margin-bottom: 30px;
          .am-icon {
            margin-right: 20px;
            margin-top: -5px;
          }
          span {
            flex: 1;
            line-height: 24px;
          }
        }
        .right {
          float: right;
          margin-right: 20px;
          overflow: hidden;
          .am-icon {
            margin-top: 20px;
            margin-right: 10px;
            float: left;
          }
        }
      }
    }
  }
  .fed-button {
    @include s_center;
    bottom: 30px;
    width: 90%;
    background: #09bb07;
  }
}
