@import "../common.scss";

.password-item {
  .header {
    height: 470px;
    background: $fed_theme;
    padding-top: 120px;
    img {
      display: block;
      margin: 0 auto 10px;
    }
    p {
      &:nth-of-type(1) {
        @include s_fontDemo(50px, 70px, #fff);
        text-align: center;
        margin-bottom: 80px;
      }
      &:nth-of-type(2) {
        @include s_fontDemo(28px, 40px, #fff);
        text-align: center;
      }
    }
  }
  .middle {
    width: 90%;
    height: 108px;
    background:#ffffff;
    border:1px solid #8b572a;
    box-shadow:0 2px 9px 0 rgba(0,0,0,0.06);
    border-radius:10px;
    margin: -55px auto 130px;
    @include s_fontDemo(26px, 110px, $font-4a);
    p {
      float: left;
      &:nth-of-type(1) {
        padding-left: 70px;
        padding-right: 50px;
      }
      &:nth-of-type(2) {
        background:#f6e400;
        border:3px solid #8b572a;
        border-radius:21px;
        width:124px;
        height:59px;
        line-height: 59px;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
  .middle-voice {
    background: #fff;
    @include s_blockDemo(275px, 275px);
    background:#ffffff;
    box-shadow:0 2px 9px 0 rgba(0,0,0,0.06);
    border-radius: 100%;
    margin: -138px auto 60px;
    position: relative;
    .item-container {
      @include s_allCenter;
      img {
        display: block;
        margin: 0 auto;
      }
      span {
        text-align: center;
        display: block;
        @include s_fontDemo(24px, 86px, $fed_theme);
      }
    }
  }
  .slogan {
    margin-left: 85px;
    margin-right: 85px;
  }
  .fed-button {
    background: #fff;
    color: $fed_theme;
    width: 90%;
    @include s_center;
    bottom: 30px;
  }
}
